.ant-layout-header{
  height: 80px;
  background: #FFF;
}

.ant-layout-footer {
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #fff;
  background: #336b87;
}
.ant-layout-footer h1{
  font-size: 1em;
  padding-top: 5px;
  color : #222;
  font-weight: bolder;
  font-family: cursive;
}

.ant-layout-content {
  min-height: 100vh;
  color: white;
  background: #DDD;
}